data/*
outputs/
results/
cache/
*.nwb
*.npy
*.npz
*.parquet
*.pqt
*.bin
*.cbin
*.ch
*.meta
.one/
.ipynb_checkpoints/
__pycache__/
*.pyc
.pytest_cache/
.env
*.egg-info/
build/
dist/
.DS_Store
!data/README.md
