data/*
!data/README.md
outputs/
*.swc
*.CNG.swc
*.obj
*.jsonl
*.parquet
*.nii
*.nii.gz
*.edf
*.nwb
.ipynb_checkpoints/
__pycache__/
*.pyc
.pytest_cache/
.env
*.egg-info/
build/
dist/
.DS_Store
x86_64/
