data/
outputs/
results/
*.h5ad
*.h5
*.nii.gz
*.txt.gz
*.tsv.gz
*.sumstats.gz
*.annot.gz
*.ldscore.gz
*.genes.raw
*.genes.out
*.gsa.out
.ipynb_checkpoints/
__pycache__/
*.pyc
.pytest_cache/
.env
*.egg-info/
build/
dist/
.DS_Store
