data/*
!data/README.md
outputs/
*.swc
*.CNG.swc
*.jsonl
*.parquet
*.nii.gz
*.edf
*.nwb
*.mod
x86_64/
arm64/
.ipynb_checkpoints/
__pycache__/
*.pyc
.pytest_cache/
.env
*.egg-info/
build/
dist/
.DS_Store
