data/*
!data/README.md
outputs/
*.zip
*.csv.gz
*.parquet
*.npz
*.edf
*.nwb
*.nii.gz
*.pt
*.pth
.ipynb_checkpoints/
__pycache__/
*.pyc
.env
.venv/
*.egg-info/
.pytest_cache/
kaggle.json
.synapseConfig
